{% load static %}
<!DOCTYPE html>
<html class="no-js" >
    <head>
        <!-- meta charset -->
        <meta charset="utf-8">
        <!-- site title -->
        <title>About | JCBArroyo</title>
        <!-- meta description -->
        <meta name="description" content="">
        <!-- mobile viwport meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- fevicon -->
        <link rel="icon" type="image/png" href="{% static 'portfolio/img/logo.png' %}">
        
        <!-- ================================
        CSS Files
        ================================= -->
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'portfolio/css/themefisher-fonts.min.css' %}">
        <link rel="stylesheet" href="{% static 'portfolio/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'portfolio/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'portfolio/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'portfolio/css/dark.css' %}">
        <link id="color-changer" rel="stylesheet" href="{% static 'portfolio/css/colors/blue.css' %}">
    </head>

    <body class="dark">

        <div class="preloader">
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
        </div>

        <main class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-about relative">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                <div class="page-title text-center">
                                    <h2>About <span class="primary">me</span> <span class="title-bg">Name</span></h2>
                                    <p>I have been working as an IT professional aka DevOps since 2008. Worked for 3 reputable firms (retail, banking, government) and also with several clients as a freelancer. I'm also a seasoned triathlete and a marathoner since 2009. These hobbies helped me to become physically and mentally fit since the IT industry requires long periods of sitting and analytical thinking.</p>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <div class="about-author">
                                    <figure class="author-thumb" style="background-color: #000; border-color: #999;">
                                        <img src="{% static 'portfolio/img/profile-2.jpg' %}" alt="">
                                    </figure> <!-- /.author-bio -->
                                    <div class="author-desc">
                                        <p><b>Language:</b> English, Tagalog</p>
                                        <p><b>Expert in:</b> Web development &amp; DevOps</p>
                                        <p><b>Freelance:</b> Available</p>
                                        <p><b>Hobbies:</b> Swim, Bike, Run</p>
                                    </div>
                                    <!-- /.author-desc -->
                                </div> <!-- /.about-author -->
                                <p>I'm highly passionate about helping people achieve their goals at their own firm. For the past 15 years, IT has been my bread and butter in my day to day work. I believe my skill sets can amplify one's capability to deliver targets rapidly and efficiently.</p>
                            </div> <!-- /.col -->
 
                            <div class="col-xs-12 col-md-6">
                                <div class="history-block">
                                    <div class="section-title light clear">
                                        <h3>Skills</h3>
                                    </div>
                                    <!-- /.section-title -->
                                    <div class="history-scroller" style="overflow: hidden; outline: none;margin-bottom: 20px;">
                                        <div class="skill-wrapper">
                                            <div class="progress clear">
                                                <div class="skill-name">Python</div>
                                                <div class="skill-bar">
                                                    <div class="bar"></div>
                                                </div>
                                                <div class="skill-lavel" data-skill-value="70%"></div>
                                            </div> <!-- /.progress -->
                                            <div class="progress clear">
                                                <div class="skill-name">Django</div>
                                                <div class="skill-bar">
                                                    <div class="bar"></div>
                                                </div>
                                                <div class="skill-lavel" data-skill-value="70%"></div>
                                            </div> <!-- /.progress -->
                                            <div class="progress clear">
                                                <div class="skill-name">HTML5</div>
                                                <div class="skill-bar">
                                                    <div class="bar"></div>
                                                </div>
                                                <div class="skill-lavel" data-skill-value="90%"></div>
                                            </div> <!-- /.progress -->
                                            <div class="progress clear">
                                                <div class="skill-name">CSS3</div>
                                                <div class="skill-bar">
                                                    <div class="bar"></div>
                                                </div>
                                                <div class="skill-lavel" data-skill-value="80%"></div>
                                            </div> <!-- /.progress -->
                                            <div class="progress clear">
                                                <div class="skill-name">jQuery</div>
                                                <div class="skill-bar">
                                                    <div class="bar"></div>
                                                </div>
                                                <div class="skill-lavel" data-skill-value="70%"></div>
                                            </div> <!-- /.progress -->
                                            <div class="progress clear">
                                                <div class="skill-name">BootStrap</div>
                                                <div class="skill-bar">
                                                    <div class="bar"></div>
                                                </div>
                                                <div class="skill-lavel" data-skill-value="80%"></div>
                                            </div> <!-- /.progress -->
                                            <div class="progress clear">
                                                <div class="skill-name">Photoshop</div>
                                                <div class="skill-bar">
                                                    <div class="bar"></div>
                                                </div>
                                                <div class="skill-lavel" data-skill-value="90%"></div>
                                            </div> <!-- /.progress -->
                                                                                <div class="progress clear">
                                                <div class="skill-name">Windows</div>
                                                <div class="skill-bar">
                                                    <div class="bar"></div>
                                                </div>
                                                <div class="skill-lavel" data-skill-value="95%"></div>
                                            </div> <!-- /.progress -->
                                            <div class="progress clear">
                                                <div class="skill-name">Linux</div>
                                                <div class="skill-bar">
                                                    <div class="bar"></div>
                                                </div>
                                                <div class="skill-lavel" data-skill-value="90%"></div>
                                            </div> <!-- /.progress -->
                                            <div class="progress clear">
                                                <div class="skill-name">Network Topology</div>
                                                <div class="skill-bar">
                                                    <div class="bar"></div>
                                                </div>
                                                <div class="skill-lavel" data-skill-value="90%"></div>
                                            </div> <!-- /.progress -->
                                            <div class="progress clear">
                                                <div class="skill-name">pfSense</div>
                                                <div class="skill-bar">
                                                    <div class="bar"></div>
                                                </div>
                                                <div class="skill-lavel" data-skill-value="80%"></div>
                                            </div> <!-- /.progress -->
                                            <div class="progress clear">
                                                <div class="skill-name">Desktops &amp; Servers</div>
                                                <div class="skill-bar">
                                                    <div class="bar"></div>
                                                </div>
                                                <div class="skill-lavel" data-skill-value="95%"></div>
                                            </div> <!-- /.progress -->
                                        </div> <!-- /.skill-wrapper -->
                                    </div>
                                </div> <!-- /.history-block -->
                            </div> <!-- /.col -->


                            <div class="col-xs-12 col-md-6">
                                <div class="history-block">
                                    <div class="section-title light clear">
                                        <h3>Education</h3>
                                    </div>
                                    <!-- /.section-title -->
                                    <div class="history-scroller">
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="tf-ion-university"></i>
                                            </div>
                                            <div class="history-text">
                                                <h5>La Consolacion College - Iriga City</h5>
                                                <span>2004 - 2008</span>
                                                <p>Bachelor of Science in Computer Science</p>
                                            </div>
                                        </div>
                                        <!-- /.history-item -->
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="tf-ion-university"></i>
                                            </div>
                                            <div class="history-text">
                                                <h5>Nabua National High School</h5>
                                                <span>2000 - 2004</span>
                                                <p>Secondary Education</p>
                                            </div>
                                        </div>
                                        <!-- /.history-item -->
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="tf-ion-university"></i>
                                            </div>
                                            <div class="history-text">
                                                <h5>Concepcion Grande Elementary School</h5>
                                                <span>1994 - 2000</span>
                                                <p>Elementary Education</p>
                                            </div>
                                        </div>
                                        <!-- /.history-item -->
                                    </div>
                                </div> <!-- /.history-block -->
                            </div> <!-- /.col -->
                            <div class="col-xs-12 col-md-6">
                                <div class="history-block">
                                    <div class="section-title light clear">
                                        <h3>Experiences</h3>
                                    </div>
                                    <!-- /.section-title -->
                                    <div class="history-scroller">
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="tf-ion-ios-people"></i>
                                            </div>
                                            <div class="history-text">
                                                <h5>DND - Office of Civil Defense ROV</h5>
                                                <span>2017 - Present</span>
                                                <p>&#8226; Chief, Information and Comunications Technology Unit<br>&#8226; Officer-in-Charge, 24/7 Operations Center<br>&#8226; Former Deputy of Operations</p>
                                            </div>
                                        </div>
                                        <!-- /.history-item -->
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="tf-briefcase2"></i>
                                            </div>
                                            <div class="history-text">
                                                <h5>Camalig Bank Inc.</h5>
                                                <span>2011 - 2017</span>
                                                <p>&#8226; Database Specialist<br>&#8226; Network Specialist</p>
                                            </div>
                                        </div>
                                        <!-- /.history-item -->
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="tf-ion-android-cart"></i>
                                            </div>
                                            <div class="history-text">
                                                <h5>Alson's Trading</h5>
                                                <span>2008 - 2011</span>
                                                <p>&#8226; Lead, Technical Support<br>&#8226; System Administrator</p>
                                            </div>
                                        </div>
                                        <!-- /.history-item -->
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="tf-desktop"></i>
                                            </div>
                                            <div class="history-text">
                                                <h5>Freelancer</h5>
                                                <span>2006 - Present</span>
                                                <p>&#8226; Python Django Web Developer<br>
                                                    &#8226; Java Developer<br>
                                                    &#8226; Windows and Linux Administrator<br>
                                                    &#8226; Network Administrator<br>
                                                    &#8226; Computer Technician<br>
                                                &#8226; Graphic and Web Designer</p>
                                            </div>
                                        </div>
                                        <!-- /.history-item -->
                                    </div>
                                </div> <!-- /.history-block -->
                            </div> <!-- /.col -->



                        </div> <!-- /.row -->
                    </div> <!-- /.container -->

                    <nav class="page-nav clear">
                        <div class="container">
                            <div class="flex flex-middle space-between">
                                <span class="prev-page"><a href="{{ request.META.HTTP_REFERER }}" class="link">&larr; Prev Page</a></span>
                                <span class="copyright hidden-xs">Copyright &copy; 2020 JCBA, All Rights Reserved.</span>
                                <span></span>
                            </div>
                        </div>
                        <!-- /.page-nav -->
                    </nav>
                    <!-- /.container -->
                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </main> <!-- /.site-wrapper -->
        
        <!-- ================================
        JavaScript Libraries
        ================================= -->
        <script src="{% static 'portfolio/js/vendor/jquery-2.2.4.min.js' %}"></script>
        <script src="{% static 'portfolio/js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'portfolio/js/jquery.easing.min.js' %}"></script>
        <script src="{% static 'portfolio/js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'portfolio/js/jquery.nicescroll.min.js' %}"></script>
        <script src="{% static 'portfolio/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'portfolio/js/jquery-validation.min.js' %}"></script>
        <script src="{% static 'portfolio/js/main.js' %}"></script>
    </body>
</html>