{% load static %}
<!DOCTYPE html>
<html class="no-js" >
    <head>
        <!-- meta charset -->
        <meta charset="utf-8">
        <!-- site title -->
        <title>Contact | JCBArroyo</title>
        <!-- meta description -->
        <meta name="description" content="">
        <!-- mobile viwport meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- fevicon -->
        <link rel="icon" type="image/png" href="{% static 'portfolio/img/logo.png' %}">
        <!-- ================================
        CSS Files
        ================================= -->
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'portfolio/css/themefisher-fonts.min.css' %}">
        <link rel="stylesheet" href="{% static 'portfolio/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'portfolio/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'portfolio/css/main.css' %}">
        <link rel="stylesheet" href="{% static 'portfolio/css/dark.css' %}">
        <link id="color-changer" rel="stylesheet" href="{% static 'portfolio/css/colors/yellow.css' %}">
    </head>

    <body class="dark">

        <div class="preloader">
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
        </div>

        <main class="site-wrapper">
            <div class="pt-table">
                <div class="pt-tablecell page-about relative">

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                                <div class="page-title text-center">
                                    <h2>Get in  <span class="primary">touch</span> <span class="title-bg">Contact</span></h2>
                                    <p>I'm confident there's something I can help you with. Feel free to explore and contact me by visiting the contact links below. I'm looking forward to working with you soon!</p>
                                </div>
                            </div>                              
                        </div> <!-- /.row -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <div class="history-block">
                                    <div class="section-title light clear">
                                        <h3>Contacts</h3>
                                    </div>
                                    <!-- /.section-title -->
                                    <div class="history-scroller">
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="tf-map-pin"></i>
                                            </div>
                                            <div class="history-text">
                                                <h5>Address</h5>
                                                <p>Zone 1, Sta. Justina West Buhi, Cam. Sur 4433</p>
                                            </div>
                                        </div>
                                        <!-- /.history-item -->
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="tf-envelope2"></i>
                                            </div>
                                            <div class="history-text">
                                                <h5>Email</h5>
                                                <p><a href="mailto:jcba003@gmail.com">jcba003@gmail.com</a></p>
                                            </div>
                                        </div>
                                        <!-- /.history-item -->
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="tf-phone2"></i>
                                            </div>
                                            <div class="history-text">
                                                <h5>Phone</h5>
                                                <p><a href="tel:+639199975765">+639199975765</a></p>
                                            </div>
                                        </div>
                                        <!-- /.history-item -->
                                    </div>
                                </div> <!-- /.history-block -->
                            </div> <!-- /.col -->
                            <div class="col-xs-12 col-sm-6">
                                <div class="history-block">
                                    <div class="section-title light clear">
                                        <h3>Links</h3>
                                    </div>
                                    <!-- /.section-title -->
                                    <div class="history-scroller">
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="tf-ion-social-facebook"></i>
                                            </div>
                                            <div class="history-text">
                                                <a href="https://www.facebook.com/juliuschristopherarroyo" target="_blank"><h5>Facebook</h5></a>
                                            </div>
                                        </div>
                                        <!-- /.history-item -->
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="tf-ion-social-linkedin"></i>
                                            </div>
                                            <div class="history-text">
                                                <a href="https://www.linkedin.com/in/julius-christopher-arroyo-25137b122/" target="_blank">
                                                <h5>LinkedIn</h5></a>
                                            </div>
                                        </div>
                                        <!-- /.history-item -->
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="tf-ion-social-github"></i>
                                            </div>
                                            <div class="history-text">
                                                <a href="https://github.com/darkspook" target="_blank"><h5>GitHub</h5></a>
                                            </div>
                                        </div>
                                        <!-- /.history-item -->
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="tf-bike"></i>
                                            </div>
                                            <div class="history-text">
                                                <a href="https://www.strava.com/athletes/3484685" target="_blank"><h5>Strava</h5></a>
                                            </div>
                                        </div>
                                        <!-- /.history-item -->
                                        <div class="history-item">
                                            <div class="history-icon">
                                                <span class="history-hex"></span>
                                                <i class="tf-map2"></i>
                                            </div>
                                            <div class="history-text">
                                                <a href="https://www.plotaroute.com/userprofile/70250" target="_blank"><h5>Plotaroute</h5></a>
                                            </div>
                                        </div>
                                        <!-- /.history-item -->
                                    </div>
                                </div> <!-- /.history-block -->
                            </div> <!-- /.col -->
                        </div> <!-- /.row -->

                    </div> <!-- /.container -->

                    <nav class="page-nav clear">
                        <div class="container">
                            <div class="flex flex-middle space-between">
                                <span class="prev-page"><a href="{{ request.META.HTTP_REFERER }}" class="link">&larr; Prev Page</a></span>
                                <span class="copyright hidden-xs">&copy; 2020-<script>var CurrentYear=new Date().getFullYear();document.write(CurrentYear)</script> JCBArroyo.</span>
                                <span></span>
                            </div>
                        </div>
                        <!-- /.page-nav -->
                    </nav>
                    <!-- /.container -->
                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </main> <!-- /.site-wrapper -->
        
        <!-- ================================
        JavaScript Libraries
        ================================= -->
        <script src="{% static 'portfolio/js/vendor/jquery-2.2.4.min.js' %}"></script>
        <script src="{% static 'portfolio/js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'portfolio/js/jquery.easing.min.js' %}"></script>
        <script src="{% static 'portfolio/js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'portfolio/js/jquery.nicescroll.min.js' %}"></script>
        <script src="{% static 'portfolio/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'portfolio/js/jquery-validation.min.js' %}"></script>
        <script src="{% static 'portfolio/js/main.js' %}"></script>
    </body>
</html>