{% extends 'ictinv/base.html' %}
{% block content %}
<div class="mt-4"></div>
<div class="card mb-4">
	<div class="card-header bg-warning text-dark">
		<i class="fas fa-list"></i>
		All Assets Available
    </div>
    <div class="card-body">
    	<table id="datatablesAssetList" class="display compact" style="width:100%">
    		<thead>
	            <tr>
	                <th>Asset Name</th>
	                <th>Description</th>
	                <th>Unit Value</th>
	                <th>Date Acquired</th>
	                <th>Location</th>
	            </tr>
	        </thead>
	        <tfoot>
	            <tr>
					<th>Asset Name</th>
					<th>Description</th>
					<th>Unit Value</th>
					<th>Date Acquired</th>
					<th>Location</th>
	            </tr>
	        </tfoot>
	        <tbody>
{% for asset in assets %}
	        	<tr>
					<td><a href="{% url 'ictinv:asset_detail' asset.pk %}" title="{{ asset.name }}">{{ asset.name }}</a></td>
					<td title="{{ asset.description }}">{{ asset.description|truncatewords:3 }}</td>
					<td>{{ asset.unit_value }}</td>
					<td>{{ asset.date_acquired }}</td>
					<td>{{ asset.location }}</td>
	            </tr>
{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function () {
	$('#datatablesAssetList').DataTable({
		"lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
		// "pageLength": -1,
		"pageLength": 25,
		"order": [],
	});
  	$("#collapseAssets > nav > a:nth-child(3)").addClass("active");
});
</script>
{% endblock %}