{% extends 'ictinv/base.html' %}
{% block content %}
<style type="text/css">
	td {word-wrap: anywhere;}
</style>
<div class="mt-4"></div>
<div class="card mb-4">
	<div class="card-header bg-secondary text-white">
		<i class="fas fa-info-circle"></i>
		<strong>{{ object.name | upper }}</strong>
		<div  class="float-end">
			<div class="btn-group">
				<a href="{% url 'ictinv:component_clone2' component.pk %}" class="btn btn-warning badge">Clone</a>
				<a href="{% url 'ictinv:component_update2' component.pk %}" class="btn btn-info badge">Edit</a>
				<a href="{% url 'ictinv:component_delete' component.pk %}" class="btn btn-danger badge">Delete</a>
			</div>
		</div>
    </div>
    <div class="card-body">
		<table class="table table-bordered table-hover">
			<tbody>
				<tr>
					<th scope="row" style="width: 20%">NAME</th>
					<td>{{ object.name }}</td>
				</tr>
				<tr>
					<th scope="row">DESCRIPTION</th>
					<td>{{ object.description }}</td>
				</tr>
				<tr>
					<th scope="row">PROPERTY NO.</th>
					<td>{{ object.property_num }}</td>
				</tr>
				<tr>
					<th scope="row">UNIT VALUE</th>
					<td>{{ object.unit_value }}</td>
				</tr>
				<tr>
					<th scope="row">DATE ACQUIRED</th>
					<td>{{ object.date_acquired }}</td>
				</tr>
				<tr>
					<th scope="row">END USER</th>
					<td>{{ object.end_user }}</td>
				</tr>
				<tr>
					<th scope="row">LOCATION</th>
					<td>{{ object.location }}</td>
				</tr>
				{% if object.remarks %}
				<tr>
					<th scope="row">REMARKS</th>
					<td>{{ object.remarks }}</td>
				</tr>
				{% endif %}
				<tr class="table-secondary">
					
					<td colspan="2" class="text-center"><strong>OTHER DETAILS</strong></td>
				</tr>
				<tr>
					<th scope="row">PARENT ASSET</th>
					<td>
						{% if object.asset %}
							<a href="{% url 'ictinv:asset_detail' object.asset.pk %}" title="Go to PARENT ASSET">{{ object.asset }}</a>
						{% else %}
							{{ object.asset }}
						{% endif %}
					</td>
				</tr>
				<tr>
					<th scope="row">BRAND</th>
					<td>{{ object.brand }}</td>
				</tr>
				<tr>
					<th scope="row">MODEL</th>
					<td>{{ object.model }}</td>
				</tr>
				<tr>
					<th scope="row">SERIAL NO.</th>
					<td>{{ object.serial_num }}</td>
				</tr>
				<tr>
					<th scope="row">REMARKS</th>
					<td>{{ object.remarks }}</td>
				</tr>
				<tr>
					<th scope="row">STATUS</th>
				{% if object.status == "serviceable" %}
					<td class="bg-success text-white">
				{% elif object.status == "unserviceable" %}
					<td class="bg-danger text-white">
				{% else %}
					<td class="bg-secondary text-white">
				{% endif %}
					{{ object.status|upper }}</td>
				</tr>
				{% if object.image %}
				<tr>
					<th scope="row">IMAGE</th>
					<td><a href="{{ object.image.url }}" class="btn btn-primary btn-sm">View Image</a></td>
				</tr>
				{% endif %}
			</tbody>
		</table>
    </div>
</div>
<div class="mt-4"></div>
{% endblock %}