{% extends 'ictinv/base.html' %}
{% block content %}
<div class="mt-4"></div>
<div class="card mb-4">
	<div class="card-header bg-info text-light">
		<i class="fas fa-check-double"></i>
		All Components Available
    </div>
    <div class="card-body">
    	<table id="datatablesSimple" class="display compact" style="width:100%">
    		<thead>
	            <tr>
	                <th>Name</th>
	                <th>Description</th>
	                <th>Unit Value</th>
	                <th>Date Acquired</th>
	                <th>Location</th>
	            </tr>
	        </thead>
	        <tfoot>
	            <tr>
					<th>Name</th>
					<th>Description</th>
					<th>Unit Value</th>
					<th>Date Acquired</th>
					<th>Location</th>
	            </tr>
	        </tfoot>
	        <tbody>
{% for component in components %}
	        	<tr>
					<td><a href="{% url 'ictinv:component_detail' component.pk %}">{{ component.name }}</a></td>
					<td>{{ component.description }}</td>
					<td>{{ component.unit_value }}</td>
					<td>{{ component.date_acquired }}</td>
					<td>{{ component.asset.location }}</td>
	            </tr>
{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}