{% extends 'ictinv/base.html' %}
{% block content %}
<div class="mt-4"></div>
<div class="card mb-4">
    <div class="card-header bg-success text-white">
    	<i class="fas fa-memory"></i>
    	New Component
    </div>
    <div style="padding: 1em 2em;">

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="row g-2">
        {% for field in form %}

                <div class="col-md-6 ">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text" id="inputGroup-sizing-sm">{{field.label|upper}}</span>
                        {{ field }}
                    </div>
                </div>

        {% endfor %}
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <div class="small"  style="padding-bottom: 4em;"></div>
                <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to Save?');">Save</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    // will empty right column
    // const div = document.querySelector("#layoutSidenav_content > main > div > div.card.mb-4 > div:nth-child(2) > form > div.row.g-2 > div:nth-child(7)");
    // div.style.marginRight = "50%";
    // END will empty right column

    // div.classList.replace("col-md-6", "col-md-12");
    // div.classList.add("offset-md-6");
    // document.querySelector("#layoutSidenav_content > main > div > div.card.mb-4 > div:nth-child(2) > form > div.row.g-2 > div:nth-child(7)").classList.add("offset-md-1");
</script>
{% endblock %}