{% extends 'ictinv/base.html' %}
{% block content %}
<div class="mt-4"></div>
<div class="card mb-4">
	<div class="card-header bg-secondary text-white">
		<i class="fas fa-info-circle"></i>
		<strong>{{ asset | upper }}</strong> Component(s)
		<div class="float-end">
			<a href="{% url 'ictinv:component_add' asset.pk %}" class="btn btn-success badge">Add Component</a>
		</div>
    </div>
    <div class="card-body">{% for component in components %}
    	<div class="table-responsive">
	    	<table class="table table-bordered table-hover table-sm">
				<tbody>
					<tr class="bg-primary text-white">
						<th colspan="2" class="text-center">
							Component {{ forloop.counter }}
							<div  class="float-end">
								<div class="btn-group">
									<a href="{% url 'ictinv:component_clone' component.pk %}" class="btn btn-warning badge">Clone</a>
									<a href="{% url 'ictinv:component_update' component.pk %}" class="btn btn-info badge">Edit</a>
									<a href="{% url 'ictinv:component_delete' component.pk %}" class="btn btn-danger badge">Delete</a>
								</div>
							</div>

						</th>
					</tr>
					<tr>
						<th scope="row" style="width: 20%">NAME</th>
						<td>{{ component.name }}</td>
					</tr>
					<tr>
						<th scope="row">DESCRIPTION</th>
						<td>{{ component.description }}</td>
					</tr>
					<tr>
						<th scope="row">PROPERTY NO.</th>
						<td>{{ component.property_num }}</td>
					</tr>
					<tr>
						<th scope="row">BRAND</th>
						<td>{{ component.brand }}</td>
					</tr>
					<tr>
						<th scope="row">MODEL</th>
						<td>{{ component.model }}</td>
					</tr>
					<tr>
						<th scope="row">SERIAL NO.</th>
						<td>{{ component.serial_num }}</td>
					</tr>
					<tr>
						<th scope="row">UNIT VALUE</th>
						<td>{{ component.unit_value }}</td>
					</tr>
					<tr>
						<th scope="row">DATE ACQUIRED</th>
						<td>{{ component.date_acquired }}</td>
					</tr>
					<tr>
						<th scope="row">STATUS</th>
						{% if component.status == "serviceable" %}
						<td class="bg-success text-white">
						{% elif component.status == "unserviceable" %}
						<td class="bg-danger text-white">
						{% else %}
						<td class="bg-secondary text-white">
						{% endif %}
						{{ component.status|upper }}</td>
					</tr>
					{% if component.remarks %}
					<tr>
						<th scope="row">REMARKS</th>
						<td>{{ component.remarks }}</td>
					</tr>
					{% endif %}
					{% if component.image %}
					<tr>
						<th scope="row">IMAGE</th>
						<td>
							<a href="{{ component.image.url }}" class="btn btn-primary badge">View</a>
						</td>
					</tr>
					{% endif %}
				</tbody>
			</table>
		</div>{% endfor %}
    </div>
</div>
<a href="{% url 'ictinv:asset_detail' asset.id %}" class="btn btn-primary badge">&larr; BACK TO PARENT</a>
<div class="mt-4"></div>
{% endblock %}