{% extends 'ictinv/base.html' %}
{% block content %}
<div class="mt-4"></div>
<div class="card mb-4">
	<div class="card-header bg-warning text-dark">
		<i class="fas fa-list"></i>
		All Components
    </div>
    <div class="card-body">
    	<table id="datatablesSimple" class="display compact" style="width:100%">
    		<thead>
	            <tr>
	                <th>Name</th>
	                <!-- <th>Description</th> -->
	                <th>Parent Asset</th>
	                <th>Unit Value</th>
	                <th>End User</th>
	                <th>Location</th>
	            </tr>
	        </thead>
	        <tfoot>
	            <tr>
					<th>Name</th>
					<!-- <th>Description</th> -->
					<th>Parent Asset</th>
					<th>Unit Value</th>
					<th>End User</th>
					<th>Location</th>
	            </tr>
	        </tfoot>
	        <tbody>
{% for component in components %}
	        	<tr>
					<td><a href="{% url 'ictinv:component_detail' component.pk %}">{{ component.name }}</a></td>
					<td>{{ component.asset.name }}</td>
					<td>{{ component.unit_value }}</td>
					<td>
					{% if component.end_user != None %}
						{{ component.end_user.last_name }} {{component.end_user.first_name|slice:":1" }}.
					{% endif %}
					</td>
					<td>
					{% if component.asset == None %}
						{{ component.location }}
					{% else %}
						{{ component.asset.location }}
					{% endif %}
					</td>
	            </tr>
{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}