{% extends 'ictinv/base.html' %}
{% block content %}
<div class="mt-4"></div>
<div class="card mb-4">
	<div class="card-header bg-warning text-dark">
		<i class="fas fa-tasks"></i>
		Dashboard
    </div>
    <div class="card-body">
    	<table id="datatablesSimple">
    		<thead>
	            <tr>
	                <th>Asset Name</th>
	                <th>Description</th>
	            </tr>
	        </thead>
	        <tfoot>
	            <tr>
					<th>Asset Name</th>
					<th>Description</th>
	            </tr>
	        </tfoot>
	        <tbody>
{% for asset in assets %}
	        	<tr>
					<td><a href="{% url 'ictinv:asset_detail' asset.pk %}">{{ asset.name }}</a></td>
					<td>{{ asset.description }}</td>
	            </tr>
{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}