{% extends 'ictinv/base.html' %}
{% block content %}
<div class="mt-4"></div>
<div class="card mb-4">
	<div class="card-header bg-warning text-dark">
		<i class="fas fa-users"></i>
		All End Users
    </div>
    <div class="card-body">
    	<table id="datatablesSimple" class="display compact" style="width:100%">
    		<thead>
	            <tr>
	                <th>Last Name</th>
	                <th>First Name</th>
	                <th>Remarks</th>
	                <th>Actions</th>
	            </tr>
	        </thead>
	        <tfoot>
	            <tr>
					<th>Last Name</th>
	                <th>First Name</th>
	                <th>Remarks</th>
	                <th>Actions</th>
	            </tr>
	        </tfoot>
	        <tbody>
{% for enduser in endusers %}
	        	<tr>
					<td>{{ enduser.last_name }}</td>
					<td>{{ enduser.first_name }}</td>
					<td>{{ enduser.remarks }}</td>
					<td class="text-center" width="10%">
						<div class="btn-group">
							<a href="{% url 'ictinv:enduser_update' enduser.pk %}" class="btn btn-info badge">Edit</a>
							<a href="{% url 'ictinv:enduser_delete' enduser.pk %}" class="btn btn-danger badge">Delete</a>
						</div>
					</td>
	            </tr>
{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}