{% extends 'ictinv/base.html' %}
{% block content %}
<div class="mt-4"></div>
{% include 'ictinv/charts.html' %}
<div class="card mb-4">
	<div class="card-header">
		<i class="fas fa-list-ol"></i>
		TOP 10 Last Modified Assets
    </div>
    <div class="card-body">
    	<table id="datatablesLastModified" class="display compact" style="width:100%">
    		<thead>
	            <tr>
	                <th>Asset Name</th>
	                <th>Description</th>
	                <th>Unit Value</th>
	                <th>End User</th>
	                <th>Location</th>
	            </tr>
	        </thead>
	        <tfoot>
	            <tr>
					<th>Asset Name</th>
					<th>Description</th>
					<th>Unit Value</th>
	                <th>End User</th>
	                <th>Location</th>
	            </tr>
	        </tfoot>
	        <tbody>
{% for asset in assets %}
	        	<tr>
					<td><a href="{% url 'ictinv:asset_detail' asset.pk %}" title="{{ asset.name }}">{{ asset.name }}</a></td>
					<td title="{{ asset.description }}">{{ asset.description|truncatewords:3 }}</td>
					<td>{{ asset.unit_value }}</td>
					<td>
					{% if asset.end_user %}
					{{ asset.end_user.last_name }} {{ asset.end_user.first_name|slice:":1" }}.
					{% endif %}
					</td>
					<td>{{ asset.location }}</td>
	            </tr>
{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function () {
	$('#datatablesLastModified').DataTable({
		ordering: false,
		searching: false,
		paging: false,
		info: false,
	});
	$("#sidenavAccordion > div.sb-sidenav-menu > div > a:nth-child(1)").addClass("active");
});
</script>
{% endblock %}