{% extends 'ictinv/base.html' %}
{% block content %}
<div class="mt-4"></div>
<div class="card mb-4">
	<div class="card-header bg-warning text-dark">
		<i class="fas fa-search"></i>
		Search result(s) for "{{ searchq }}"
    </div>
    <div class="card-body">
		<table class="table table-hover">
			<thead class="thead-dark">
				<tr>
      				<th scope="col">NAME</th>
      				{% if category == "component" %}
      				<th scope="col">PARENT ASSET</th>
      				{% else %}
      				<th scope="col">UNIT VALUE</th>
      				{% endif %}
      				<th scope="col">END USER</th>
      				<th scope="col">LOCATION</th>
    			</tr>
			</thead>
			<tbody>			
			{% for result in results %}
				<tr>
					<!-- Asset Search -->
				{% if category == "asset" %}
					<th scope="row" width="60%">
						<a href="{% url 'ictinv:asset_detail' result.pk %}" title="{{ result.name }}">{{ result.name }}</a>
						{% if result.component_set.all|length != 0 %}
						<span class="badge bg-secondary text-light">
						{{ result.component_set.all|length }} <span style="font-size: 0.7em;">Component(s)</span>
						</span>
					{% endif %}
					</th>
					<td width="15%" title='{{ result.unit_value }}'>
					{{ result.unit_value }}</td>
					{% if result.end_user %}
					<td width="10%" title='{{ result.end_user.last_name }} {{ result.end_user.first_name|slice:":1" }}.'>
					{{ result.end_user.last_name }} {{ result.end_user.first_name|slice:":1" }}.</td>
					{% else %}
					<td></td>
					{% endif %}
					<td width="15%" title="{{ result.location }}">{{ result.location }}</td>
					<!-- Component Search -->
				{% elif category == "component" %}
					<th scope="row"  width="35%"><a href="{% url 'ictinv:component_detail' result.pk %}" title="{{ result.name }}">{{ result.name }}</a></th>
					<td width="40%" title="{{ result.asset.name }}">{{ result.asset.name }}</td>
					{% if result.asset.end_user %}
					<td width="10%" title='{{ result.asset.end_user.last_name }} {{ result.asset.end_user.first_name|slice:":1" }}.'>
					{{ result.asset.end_user.last_name }} {{ result.asset.end_user.first_name|slice:":1" }}.
					{% else %}
					<td></td>
					{% endif %}
					</td>
					<td width="15%" title="{{ result.asset.location }}">{{ result.asset.location }}</td>
				{% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
    </div>
</div>
{% endblock %}