{% extends 'ict_inventory/base.html' %}
{% block content %}
<div class="mt-4"></div>
<div class="card mb-4">
	<div class="card-header bg-secondary text-white">
		<i class="fas fa-info-circle"></i>
		<strong>{{ asset | upper }}</strong> Component(s)
		<div class="float-end">
			<a href="{% url 'ict_inventory:component_add' asset.pk %}" class="btn btn-success badge">Add Component</a>
		</div>
    </div>
    <div class="card-body">
    	<div class="table-responsive">
	    	<table class="table table-bordered table-hover table-sm">
	    		<thead class="thead-dark">
	    			<tr class="text-center align-top">
	    				<th>NAME</th>
	    				<th>DESCRIPTION</th>
	    				<th>PROPERTY NO.</th>
	    				<th>BRAND</th>
	    				<th>MODEL</th>
	    				<th>SERIAL NO.</th>
	    				<th>UNIT VALUE</th>
	    				<th>DATE ACQUIRED</th>
	    				<th>STATUS</th>
	    				<th>REMARKS</th>
	    				<th>IMAGE</th>
	    				<th>ACTIONS</th>
	    			</tr>
	    		</thead>
				<tbody>
					{% for component in components %}
					<tr>
						<td>{{ component.name }}</td>
						<td>{{ component.description }}</td>
						<td>{{ component.property_num }}</td>
						<td>{{ component.brand }}</td>
						<td>{{ component.model }}</td>
						<td>{{ component.serial_num }}</td>
						<td>{{ component.unit_value }}</td>
						<td>{{ component.date_acquired }}</td>
						<td >{{ component.status }}</td>
						<td>{{ component.remarks }}</td>
						<td>
							{% if component.image %}
							<a href="{{ component.image.url }}" class="btn btn-primary badge">View</a>
							{% endif %}
						</td>
						<td>
							<a href="{% url 'ict_inventory:component_update' component.pk %}" class="btn btn-info badge">Edit</a>
							<form method="POST" action="{% url 'ict_inventory:component_delete' component.pk %}">
                    		{% csrf_token %}
                    			<button type="submit" class="badge btn btn-danger" onclick="return confirm('Are you sure you want to delete the component?');">Delete</button>
                			</form>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
    </div>
</div>
<a href="{% url 'ict_inventory:asset_detail' asset.id %}" class="btn btn-primary badge">&larr; BACK TO PARENT</a>
{% endblock %}