{% extends 'ict_inventory/base.html' %}
{% block content %}
<div class="mt-4"></div>
<div class="card mb-4">
    <div class="card-header bg-info">
        <i class="fas fa-edit"></i>
        Update <strong>{{ component | upper }}</strong>
    </div>
    <div style="padding: 1em 2em;">
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="row g-2">
        {% for field in form %}
                <div class="col-md-6 ">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text" id="inputGroup-sizing-sm">{{field.label|upper}}</span>
                        {{ field }}
                    </div>
                </div>
        {% endfor %}
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <div class="small" style="padding-bottom: 4em;"></div>
                <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to Save?');">Save</button>
            </div>
        </form>
        {% if component.image %}
                <form method="POST" action="{% url 'ict_inventory:component_delete_image' component.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="badge btn btn-danger" onclick="return confirm('Are you sure you want to delete the image?');">Delete image</button>
                </form>
        {% endif %}
    </div>
</div>
{% endblock %}