{% extends 'ict_inventory/base.html' %}
{% block content %}
<div class="mt-4"></div>
<div class="card mb-4">
    <div class="card-header bg-danger text-white">
    	<i class="fas fa-trash"></i>
    	Delete {{ object.name | upper }}
    </div>
    <div style="padding: 1em 2em;">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <h4>Are you sure you want to delete the end user <strong>{{ object.last_name | upper }}, {{ object.first_name | upper }}</strong>?</h4><br>
            <div class="float-end">
                <button type="submit" class="btn btn-danger">Yes, Delete</button>
                <a href="{% url 'ict_inventory:enduser_list' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}