<!-- chart.html -->
<div class="col-xl-6">
  <div class="card mb-4">
      <div class="card-header bg-success text-light">
          <i class="fas fa-chart-bar me-1"></i>
          Deliveries Inspected & Accepted of {{ year1 }}<!-- {% now "Y" %} -->
      </div>
      <div class="card-body"><canvas id="myBarChart1" width="100%" height="40"></canvas></div>
  </div>
</div>
    <script type="text/javascript">
var ctx = document.getElementById("myBarChart1");
var myBarChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
    datasets: [{
      label: "Deliveries",
      backgroundColor: "rgba(2,117,216,1)",
      borderColor: "rgba(2,117,216,1)",
      data: [{{ data1 }}],
    }],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: 'month'
        },
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 12
        }
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: {{ maxval1 }},
          maxTicksLimit: 5
        },
        gridLines: {
          display: true
        }
      }],
    },
    legend: {
      display: false
    }
  }
});

    </script>

<div class="col-xl-6">
  <div class="card mb-4">
      <div class="card-header bg-info text-light">
          <i class="fas fa-chart-bar me-1"></i>
          Deliveries Inspected & Accepted of {{ year2 }}<!-- {% now "Y" %} -->
      </div>
      <div class="card-body"><canvas id="myBarChart2" width="100%" height="40"></canvas></div>
  </div>
</div>
    <script type="text/javascript">
var ctx = document.getElementById("myBarChart2");
var myBarChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
    datasets: [{
      label: "Deliveries",
      backgroundColor: "rgba(2,117,216,1)",
      borderColor: "rgba(2,117,216,1)",
      data: [{{ data2 }}],
    }],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: 'month'
        },
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 12
        }
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: {{ maxval2 }},
          maxTicksLimit: 5
        },
        gridLines: {
          display: true
        }
      }],
    },
    legend: {
      display: false
    }
  }
});

    </script>

<div class="col-xl-6">
  <div class="card mb-4">
      <div class="card-header bg-light text-dark">
          <i class="fas fa-chart-bar me-1"></i>
          Deliveries Inspected & Accepted of {{ year3 }}<!-- {% now "Y" %} -->
      </div>
      <div class="card-body"><canvas id="myBarChart3" width="100%" height="40"></canvas></div>
  </div>
</div>
    <script type="text/javascript">
var ctx = document.getElementById("myBarChart3");
var myBarChart1 = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
    datasets: [{
      label: "Deliveries",
      backgroundColor: "rgba(2,117,216,1)",
      borderColor: "rgba(2,117,216,1)",
      data: [{{ data3 }}],
    }],
  },
  options: {
    scales: {
      xAxes: [{
        time: {
          unit: 'month'
        },
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 12
        }
      }],
      yAxes: [{
        ticks: {
          min: 0,
          max: {{ maxval3 }},
          maxTicksLimit: 5
        },
        gridLines: {
          display: true
        }
      }],
    },
    legend: {
      display: false
    }
  }
});

    </script>