{% extends 'delivery_inspection/base.html' %}
{% block content %}
<div class="mt-4"></div>
<div class="card mb-4">
	<div class="card-header bg-success text-white">
		<i class="fas fa-clipboard-check"></i>
		Inspected Deliveries
    </div>
    <div class="card-body">
    	<table id="datatablesSimple">
    		<thead>
	            <tr>
	                <th>IAR Number</th>
	                <th>Purpose</th>
	                <th>Accepted by</th>
	            </tr>
	        </thead>
	        <tfoot>
	            <tr>
					<th>IAR NO</th>
					<th>Purpose</th>
					<th>Inspected by</th>
	            </tr>
	        </tfoot>
	        <tbody>
{% for del in delivery %}
	        	<tr>
					<td>
						<a href="{% url 'inspection:viewinspected' del.pk %}">{{ del.iar_no }}</a>
						{% if del.partialdelivery_set.all|length != 0 %}
							<span class="badge bg-warning alert-warning text-dark" title="Partial Deliveries">
								{{ del.partialdelivery_set.all|length }}
							</span>
						{% endif %}
					</td>
					<td>{{ del.purpose }}</td>
					<td>{{ del.inspected_by }}</td>
                </tr>
{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}