{% extends 'delivery_inspection/base.html' %}
{% block content %}
<div class="card-header bg-success text-white">
    <i class="fas fa-clipboard-check"></i>
    Inspected &amp; Accepted Delivery
</div>
{% for del in delivery %}
<div style="padding: 1em 2em;">
<div class="card">
    <div class="card-header"><h6><b>IAR NO:</b> {{ del.iar_no }}</h6></div>
    <div class="card-body">
    <p class="card-text"><b>SUPPLIER NAME:</b> {{ del.supplier }}</p>
    <p class="card-text"><b>PURPOSE:</b> {{ del.purpose }}</p>
    <p class="card-text"><b>DATE DELIVERED:</b> {{ del.date_delivered }}</p>
    {% if del.image %}
    <a href="{{ del.image.url }}" class="btn btn-primary">View image</a>
    {% endif %}
    </div>
    <div class="card-footer text-muted">
    <p><b>CREATED BY:</b> {{ del.created_by|upper }} &mdash; <i class="font-weight-light">{{ del.date_created}}</i></p>
    <p><b>INSPECTED BY:</b> {{ del.inspected_by|upper }} &mdash; <i class="font-weight-light">{{ del.date_inspected}}</i></p>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}